<a
  href="{{ url | default: '#' }}"
  class="
    inline-block uppercase md:fixed md:bottom-8 border border-(--color-brand-primary) md:z-12 md:right-8 text-white bg-(--color-brand-primary) hover:(--color-brand-primary) fill-white  transition-all duration-300 tracking-wider rounded-xl py-3 px-4
    hover:bg-white hover:(--color-brand-primary) hover:fill-(--color-brand-primary) active:bg-white active:text-(--color-brand-primary) active:fill-(--color-brand-primary) focus:bg-white focus:text-(--color-brand-primary) focus:fill-(--color-brand-primary)
  "
>
  <span class="flex items-center justify-center gap-x-2 ">
    {{ text }}
    {% render 'icon-ai' %}
  </span>
</a>
