<div class="group">
  <a
    href="{{ url | default: '#' }}"
    {% if new_tab %}
      target="_blank" rel="noopener noreferrer"
      aria-label="{{ text }} ({{ 'general.new_window' | t }})"
    {% endif %}
    class="inline-block text-white bg-sp-brown border border-sp-brown fill-white transition-all duration-300 uppercase rounded-xl py-3 px-4 tracking-wider {% if full_width %}w-full text-center{% endif %} group-hover:bg-white group-hover:text-(--color-brand-primary) group-hover:fill-sp-brown active:bg-white active:text-(--color-brand-primary) active:fill-sp-brown focus:bg-white focus:text-(--color-brand-primary) focus:fill-sp-brown"
  >
    <span class="flex items-center justify-center gap-x-2 ">
      {{ text }}
    </span>
  </a>
</div>
