<button
  type="button"
  disabled
  class="{{ class }} rounded-full bg-(--color-brand-secondary)-opacity py-2 uppercase tracking-wider"
>
  {{ 'products.sold_out' | t | default: 'IzpÄrdots' }}
</button>
