{%- assign has_active_filters = false -%}
{%- for filter in collection.filters -%}
  {%- if filter.type == 'list' or filter.type == 'price_range' -%}
    {%- if filter.active_values.size > 0 -%}
      {%- assign has_active_filters = true -%}
      {%- break -%}
    {%- endif -%}
  {%- endif -%}
{%- endfor -%}

{%- if has_active_filters -%}
  {%- assign clear_url = collection.url -%}
  <a
    href="{{ clear_url }}"
    title="{{ 'collections.filters.clear_all' | t }}"
    class="text-sm flex filter-link justify-center items-center text-white hover-device:hover:sp-brown bg-sp-brown border border-sp-brown hover:bg-white  fill-white hover:fill-sp-brown transition-all duration-300 uppercase rounded-full p-2 md:px-4"
  >
    {{ 'collections.filters.clear' | t }}
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="ml-2 size-6">
      <path d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
    </svg>
  </a>
{%- endif -%}
