<button
  type="submit"
  class="{{ class }} rounded-full bg-sp-light-brown py-2 uppercase cursor-pointer hover:bg-(--color-brand-primary) hover:text-white duration-300 transform-all tracking-wider"
>
  {{ 'products.add_to_cart' | t | default: 'Pievienot grozam' }}
</button>
