<button
  type="submit"
  name="{{ name }}"
  class="{{ class }} bg-sp-brown text-white px-6 py-3 rounded-lg hover:bg-sp-light-brown transition cursor-pointer uppercase tracking-wider"
>
  {{ text }}
</button>
