<button
  type="button"
  disabled
  class="w-full rounded-full bg-sp-light-brown-opacity py-2 uppercase text-xs sm:text-sm xl:text-base"
>
  {{ 'products.sold_out' | t | default: 'Sold Out' }}
</button>
