<a
  href="{{ url | default: '#' }}"
  class="inline-block md:fixed md:bottom-24 border-1 border-[#885642] z-2 md:right-8 text-white bg-sp-brown hover:bg-white hover:sp-brown fill-white hover:fill-sp-brown transition-all duration-300  rounded-xl py-3 px-4"
>
  <span class="flex items-center justify-center gap-x-2 ">
    {{ text }}
    {% render 'icon-ai' %}
  </span>
</a>
