<a
  href="{{ url | default: '#' }}"
  {% if new_tab %}
    target="_blank" rel="noopener noreferrer"
  {% endif %}
  class="inline-block sp-brown bg-white hover:text-white hover:bg-sp-brown transition-all duration-300 uppercase rounded-xl py-3 px-4 tracking-wider"
>
  {{ text }}
</a>
