<a
  href="{{ url | default: '#' }}"
  class="
    inline-block uppercase md:fixed md:bottom-8 border border-sp-brown md:z-12 md:right-8 text-white bg-sp-brown hover:sp-brown fill-white hover:fill-sp-brown transition-all duration-300 tracking-wider rounded-xl py-3 px-4
    hover:bg-white hover:sp-brown hover:fill-sp-brown active:bg-white active:text-sp-brown active:fill-sp-brown focus:bg-white focus:text-sp-brown focus:fill-sp-brown
  "
>
  <span class="flex items-center justify-center gap-x-2 ">
    {{ text }}
    {% render 'icon-ai' %}
  </span>
</a>
