<div
  x-data="{ show: false }"
  x-init="
    const check = () => show = window.scrollY > window.innerHeight;
    window.addEventListener('scroll', check);
    setTimeout(check, 50);
  "
>
  <button
    x-show="show"
    @click="window.scrollTo({ top: 0, behavior: 'smooth' })"
    x-transition.opacity.duration.300ms
    class="text-white bg-sp-brown border border-sp-brown hover:bg-white hover:sp-brown fixed bottom-8 left-8 z-50 rounded-full shadow-lg cursor-pointer transition-all duration-300 active:fill-white active:text-white focus:fill-white focus:text-white"

    aria-label="Atpakaļ uz lapas sākumu"
  >
    {% render 'icon-arrow-up',
      class: 'size-6 fill-white group-hover:fill-sp-brown group-active:fill-sp-brown group-focus:fill-sp-brown'
    %}
  </button>
</div>
