<a
  href="{{ url | default: '#' }}"
  {% if new_tab %}
    target="_blank" rel="noopener noreferrer"
  {% endif %}
  class="inline-block text-(--color-brand-primary) bg-white border border-(--color-brand-primary) transition-all duration-300 uppercase rounded-xl py-3 px-4 tracking-wider hover:text-white hover:bg-(--color-brand-primary) active:text-white active:bg-(--color-brand-primary) focus:text-white focus:bg-(--color-brand-primary)"
>
  {{ text }}
</a>
