<a
  href="{{ url | default: '#' }}"
  {% if new_tab %}
    target="_blank" rel="noopener noreferrer"
    aria-label="{{ text }} ({{ 'general.new_window' | t }})"
  {% endif %}
  class="inline-block text-white bg-(--color-brand-primary) border border-(--color-brand-primary) fill-white transition-all duration-300 uppercase rounded-xl py-3 px-4 tracking-wider {% if full_width %}w-full text-center{% endif %} hover:bg-white hover:text-(--color-brand-primary) hover:fill-(--color-brand-primary) active:bg-white active:text-(--color-brand-primary) active:fill-(--color-brand-primary) focus:bg-white focus:text-(--color-brand-primary) focus:fill-(--color-brand-primary)"
>
  <span class="flex items-center justify-center gap-x-2 ">
    {{ text }}
  </span>
</a>
