<div
  x-data="{ show: false }"
  x-init="
    const check = () => show = window.scrollY > window.innerHeight;
    window.addEventListener('scroll', check);
    setTimeout(check, 50);
  "
  class="fixed bottom-8 left-8 z-50"
>
  <button
    x-show="show"
    @click="window.scrollTo({ top: 0, behavior: 'smooth' })"
    x-transition.opacity.duration.300ms
    class="p-2 rounded-full border border-sp-brown bg-sp-brown text-white md:hover:text-(--color-brand-primary) md:hover:bg-white"

    aria-label="Atpakaļ uz lapas sākumu"
  >
    {% render 'icon-arrow-up', class: 'size-6' %}
  </button>
</div>
