<button
  type="submit"
  class="w-full rounded-full bg-sp-light-brown py-2 uppercase cursor-pointer hover:bg-sp-brown hover:text-white duration-300 transform-all text-xs sm:text-sm xl:text-base"
  :disabled="loading"
>
  {{ 'products.add_to_cart' | t | default: 'Add to Cart' }}
</button>
