<button
  type="button"
  disabled
  class="{{ class }} rounded-full bg-sp-light-brown-opacity py-2 uppercase text-xs sm:text-sm xl:text-base tracking-wider"
>
  {{ 'products.sold_out' | t | default: 'Sold Out' }}
</button>
