<a
  href="{{ url | default: '#' }}"
  {% if new_tab %}
    target="_blank" rel="noopener noreferrer"
    aria-label="{{ text }} ({{ 'general.new_window' | t }})"
  {% endif %}
  class="inline-block text-white bg-sp-brown border border-sp-brown fill-white transition-all duration-300 uppercase rounded-xl py-3 px-4 tracking-wider {% if full_width %}w-full text-center{% endif %} hover:bg-white hover:sp-brown hover:fill-sp-brown active:bg-white active:text-sp-brown active:fill-sp-brown focus:bg-white focus:text-sp-brown focus:fill-sp-brown"
>
  <span class="flex items-center justify-center gap-x-2 ">
    {{ text }}
  </span>
</a>
