<a
  href="{{ link.url }}"
  class="flex lg:text-white text-base xl:text-lg items-center py-2 border-1 border-transparent hover:border-b-white transition-all duration-300"
>
  {{- link.title -}}
  {% render 'icon-arrow-down' %}
</a>
