<div x-data="{ open: false }">
  <button
    @click="open = !open"
    class="flex py-2 px-4 items-center uppercase border-b w-full md:max-w-120 justify-between cursor-pointer transition-colors tracking-widest text-base font-bold"
    :class="open ? 'bg-(--color-brand-secondary)' : ''"
  >
    <h2 class="body-font text-base">
      {{ description_title }}
    </h2>
    <span
      x-show="!open"
      class="inline-flex items-center justify-center"
    >
      <svg
        class="bg-(--color-brand-secondary) rounded-full p-2 size-8 hover:bg-(--color-brand-primary) stroke-(--color-brand-primary) hover:stroke-white transition-all duration-300"
        width="14"
        height="14"
        viewBox="0 0 14 14"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 7H7M7 7H13M7 7V1M7 7V13" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>

    <span
      x-show="open"
      class="inline-flex items-center justify-center"
    >
      <svg
        class="bg-(--color-brand-primary) rounded-full p-2 size-8 stroke-white transition-all duration-300"
        width="14"
        height="2"
        viewBox="0 0 14 2"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 1H7H13" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
    </span>
  </button>

  <div
    x-show="open"
    x-transition
    class="max-w-120"
    style="display: none;"
  >
    <div class="py-4 px-4" @click="open = false">
      {% if product.metafields.shopify['active-ingredient'] %}
        <div class="flex flex-wrap">
          {% for ingredient in product.metafields.shopify['active-ingredient'].value %}
            {% if ingredient.label %}
              <h3 class="body-font text-base after:content-[',\00a0'] last:after:content-['']">
                {{- ingredient.label.value -}}
              </h3>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
