<div x-data="{ open: false }" class="relative">
  <button
    @click="open = !open"
    class="flex py-2 px-4 items-center uppercase sm:rounded-full border-b-1 sm:border border-gray-300 w-full sm:w-42 md:w-52 lg:w-72 justify-between cursor-pointer hover:bg-gray-50 transition-colors"
  >
    <span
      {% if label_id %}
        id="{{ label_id }}"
      {% endif %}
      class="tracking-wide text-xs sm:text-sm"
    >
      {{ current_value | default: filter_text }}
    </span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="size-6 bg-gray-300 rounded-full p-1 transition-transform"
      :class="{ 'rotate-180': open }"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
    </svg>
  </button>

  <div
    x-show="open"
    @click.away="open = false"
    x-transition
    class="w-full sm:absolute sm:z-6 sm:mt-2 sm:w-72 sm:bg-white sm:border sm:border-gray-300 sm:rounded-lg sm:shadow-lg"
    style="display: none;"
  >
    <div class="py-2 max-h-80 overflow-y-auto" @click="open = false">
      {{ dropdown_content }}
    </div>
  </div>
</div>
