<a href="tel:+37127841111" aria-label="{{ 'general.accessibility.call_us' | t }}">
  <svg
    width="32"
    height="32"
    class="size-6 md:size-7 lg:size-8 hover:fill-white md:hover:fill-sp-brown transition-all duration-300"
    viewBox="0 0 18 18"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M17.1334 12.1013L12.8935 10.2014L12.8818 10.196C12.6617 10.1019 12.4216 10.0641 12.1832 10.0861C11.9448 10.1081 11.7157 10.1892 11.5165 10.322C11.493 10.3375 11.4705 10.3543 11.449 10.3724L9.25837 12.2399C7.87056 11.5658 6.43775 10.1438 5.76365 8.774L7.63386 6.55008C7.65186 6.52758 7.66896 6.50508 7.68516 6.48078C7.81515 6.28215 7.89401 6.05447 7.91474 5.81799C7.93547 5.58151 7.89741 5.34358 7.80396 5.12537V5.11457L5.89865 0.867426C5.77512 0.582362 5.5627 0.344895 5.29311 0.190474C5.02353 0.0360539 4.71123 -0.0270376 4.40284 0.010618C3.1833 0.171096 2.06388 0.770017 1.25366 1.69552C0.44343 2.62102 -0.00219685 3.80982 8.14384e-06 5.03987C8.14384e-06 12.1859 5.81405 18 12.9601 18C14.1901 18.0022 15.3789 17.5566 16.3044 16.7463C17.2299 15.9361 17.8289 14.8167 17.9893 13.5971C18.0271 13.2889 17.9641 12.9766 17.8098 12.7071C17.6556 12.4375 17.4183 12.225 17.1334 12.1013ZM12.9601 16.56C9.90581 16.5566 6.97757 15.3418 4.81786 13.1821C2.65814 11.0224 1.44335 8.09417 1.44002 5.03987C1.43663 4.161 1.75327 3.31095 2.33079 2.64846C2.90831 1.98597 3.70723 1.55635 4.57834 1.43983C4.57799 1.44342 4.57799 1.44704 4.57834 1.45063L6.46835 5.68067L4.60804 7.9073C4.58916 7.92902 4.57201 7.95219 4.55674 7.9766C4.4213 8.18442 4.34185 8.42371 4.32608 8.67128C4.31031 8.91884 4.35876 9.16628 4.46674 9.38961C5.28215 11.0573 6.96246 12.725 8.64817 13.5395C8.87314 13.6465 9.12201 13.6933 9.37046 13.6753C9.61892 13.6573 9.85846 13.5752 10.0657 13.4369C10.0888 13.4214 10.111 13.4046 10.1323 13.3865L12.3202 11.5199L16.5502 13.4144C16.5502 13.4144 16.5574 13.4144 16.5601 13.4144C16.445 14.2868 16.016 15.0873 15.3534 15.6663C14.6908 16.2452 13.84 16.5629 12.9601 16.56Z" />
  </svg>
</a>
