<a href="mailto:toskinprofile@gmail.com" aria-label="Email us">
  <svg
    width="32"
    height="32"
    class="size-6 md:size-7 lg:size-8 hover:fill-sp-dark transition-all duration-300"
    viewBox="0 0 19 14"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M18.2692 0H0.730769C0.536957 0 0.351083 0.0737499 0.214037 0.205025C0.0769915 0.336301 0 0.514348 0 0.7V12.6C0 12.9713 0.153983 13.3274 0.428075 13.5899C0.702166 13.8525 1.07391 14 1.46154 14H17.5385C17.9261 14 18.2978 13.8525 18.5719 13.5899C18.846 13.3274 19 12.9713 19 12.6V0.7C19 0.514348 18.923 0.336301 18.786 0.205025C18.6489 0.0737499 18.463 0 18.2692 0ZM16.3902 1.4L9.5 7.45062L2.60976 1.4H16.3902ZM17.5385 12.6H1.46154V2.29163L9.00582 8.91625C9.14064 9.0348 9.31699 9.10058 9.5 9.10058C9.68301 9.10058 9.85936 9.0348 9.99418 8.91625L17.5385 2.29163V12.6Z" />
  </svg>
</a>
