<a
  href="{{ link.url }}"
  class="relative inline-block py-2 px-1 transition-colors duration-300"
  style="color: {{ text_color | default: '#ffffff' }};"
  {% if link.current %}
    aria-current="page"
  {% endif %}
>
  {{ link.title }}
</a>
