<a
  href="{{ link.url }}"
  class="lg:text-white text-base xl:text-lg py-2 border-1 border-transparent hover:border-b-white transition-all duration-300  {% if link.active == true %}border-b-white{% endif %}"
>
  {{- link.title -}}
</a>
