<div class="md:hidden">
  <div class="f-carousel" id="product-view-mobile">
    <div class="f-carousel__viewport h-72">
      {% for image in product.images %}
        <div
          class="f-carousel__slide"
          data-thumb-src="{{ image | image_url: width: 120, height: 120, crop: 'center' }}"
        >
          {% render 'image', class: 'product-image h-72', image: image %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
