<div class="hidden md:flex md:w-1/2">
  <div class="f-carousel" id="product-view">
    <div class="f-carousel__viewport ">
      {% for image in product.images %}
        <div
          class="f-carousel__slide"
          data-thumb-src="{{ image | image_url: width: 120, height: 120, crop: 'center' }}"
        >
          {% render 'image', class: 'product-image', image: image %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
