<div class="flex justify-end items-center mt-12 z-10">
  <div
    id="social-icons"
    class="flex flex-col items-center md:fixed md:top-1/2 md:right-8 md:-translate-y-1/2 space-y-4 fill-white z-10 bg-sp-brown-30 px-2 py-4 rounded-full"
  >
    {% render 'icon-phone' %}
    {% render 'icon-mail' %}
    {% render 'icon-facebook' %}
    {% render 'icon-instagram' %}
    {% render 'icon-booking' %}
  </div>
</div>
