{% comment %}
  This section is used in the 404 template to render page shown when customers
  enter an invalid store URL.

  https://shopify.dev/docs/storefronts/themes/architecture/templates/404
{% endcomment %}
<div class="container mx-auto h-screen flex items-center justify-center py-24">
  <div class="flex flex-col items-center justify-center space-y-6">
    <h1>{{ '404.title' | t }}</h1>

    <p>
      {{ '404.not_found' | t }}
    </p>

    {% assign back_label = '404.back_to_shopping' | t %}
    {% render 'btn-brown', text: back_label, url: routes.all_products_collection_url %}
  </div>
</div>

{% schema %}
{
  "name": "t:general.404",
  "settings": []
}
{% endschema %}
