<header class="relative container mx-auto">
  <div class="flex justify-center absolute z-50 w-full ">
    <div class="mx-auto px-4 sm:px-6 w-full ">
      <!-- NAVIGATION MENU -->
      <nav class="hidden md:flex items-center justify-between space-x-10 py-4">
        <div class=" flex flex-row space-x-8">
          {% assign links = linklists['main-menu'].links %}
          {% for link in links %}
            {% if forloop.index <= 3 %}
              {% if link.links != blank %}
                {% render 'dropdown-menu-link', link: link %}
              {% else %}
                {% render 'menu-link', link: link %}
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>

        <!-- LOGO -->
        <div>
          <img
            src="{{ "skin-profile-logo-white.svg" | asset_url }}"
            alt="{{ shop.name }}"
            height="1024"
            width="1024"
            class="w-64 h-18"
          >
        </div>

        <div class="flex space-x-8">
          {% for link in links %}
            {% if forloop.index > 3 %}
              {% if link.links != blank %}
                {% render 'dropdown-menu-link', link: link %}
              {% else %}
                {% render 'menu-link', link: link %}
              {% endif %}
            {% endif %}
          {% endfor %}
          <div class="flex items-center">
            <a href="{{ routes.cart_url }}">
              {% render 'icon-shopping-bag' %}
            </a>
            <p class="text-white">
              {{ cart.item_count }}
            </p>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
