<header class="relative container mx-auto">
  <div class="flex justify-center absolute z-3 w-full" x-data="handleMobileMenu()" x-cloak>
    <nav class="mx-auto px-4 w-full" role="navigation" aria-label="Main navigation">
      {% if template.name == 'cart'
        or template.name == 'product'
        or page.metafields.custom.navigation_style == 'dark'
      %}
        {% render 'menu', invert_class: 'invert' %}
      {% else %}
        {% render 'menu' %}
      {% endif %}
    </nav>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
