<header class="relative container mx-auto" x-data="{ showContactModal: null }">
  <div class="flex justify-center absolute z-3 w-full" x-data="handleMobileMenu()" x-cloak>
    <nav class="mx-auto px-4 w-full" role="navigation" aria-label="Main navigation">
      {% if template.name == 'index'
        or template.name == 'collection'
        or page.metafields.custom.navigation_style == 'light'
      %}
        {% render 'menu' %}
      {% else %}
        {% render 'menu', invert_class: 'invert' %}
      {% endif %}
    </nav>
  </div>

  <!-- Contact Modal -->
  <div x-show="showContactModal === 'contact'" style="display: none;">
    {% render 'menu-contact-modal' %}
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
