<header class="relative container mx-auto">
  <div class="flex justify-center absolute z-3 w-full" x-data="handleMobileMenu()" x-cloak>
    {% comment %} Check page metafield for navigation style {% endcomment %}
    {% if page.metafields.custom.navigation_style == 'dark' %}
      {% render 'navigation-dark' %}
    {% else %}
      {% render 'navigation' %}
    {% endif %}
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    }
  ]
}
{% endschema %}
