<div class="page-width">
  {% if recommendations.performed and recommendations.products_count > 1 %}
    <h2>Recommended Products</h2>
    <ul class="recommended-products-grid">
      {% for recommendation in recommendations.products %}
        <li>{% render 'product-card', product: product %}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

{% schema %}
{
  "name": "Recommended Products",
  "settings": [
    {
      "type": "range",
      "id": "products_to_show",
      "label": "Products to show",
      "min": 0,
      "max": 10,
      "default": 4,
      "step": 1
    }
  ],
  "presets": [
    {
      "name": "Recommended Products"
    }
  ]
}
{% endschema %}
