<div class="transition-hide bg-sp-light-brown mb-12 py-12 flex flex-col justify-center items-center">
  <p class="pb-6">Atrodiet sev piemērotu pakalpojumu, izmantojot virtuālo konsultantu!</p>
  {% render 'btn-brown', text: 'Sākt virtuālo konsultāciju' %}
</div>

{% schema %}
{
  "name": "Virtuālā konsutlācija",
  "settings": [],
  "presets": [
    {
      "name": "Virtuālā konsutlācija"
    }
  ]
}
{% endschema %}
