<div class="transition-hide bg-sp-light-brown">
  <div class="container mx-auto md:flex md:h-126 md:gap-x-24">
    <div class="md:w-4/7 px-4 py-12 flex flex-col justify-center h-full text-center md:text-left space-y-6 md:space-y-12">
      <h2 class="text-center md:text-left">{{ section.settings.heading }}</h2>
      <div class="space-y-2">
        {{ section.settings.text }}
      </div>

      <div>
        {% for block in section.blocks %}
          {% if block.type == 'button' %}
            <div class="flex justify-center md:justify-start w-full">
              {% case block.settings.style %}
                {% when 'white' %}
                  {% render 'btn-white', text: block.settings.text, url: block.settings.url %}
                {% when 'brown' %}
                  {% render 'btn-brown', text: block.settings.text, url: block.settings.url %}
              {% endcase %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>

    <div class="md:w-3/7 md:px-4">
      {% if section.settings.photo %}
        <img
          src="{{ section.settings.photo | image_url }}"
          alt="{{ section.settings.alt | escape }}"
          width="1080"
          height="1920"
          loading="lazy"
          class="object-cover w-full h-126"
        >
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Teksts ar bildi",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Virsraksts",
      "default": "Virsraksts šeit"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Teksts",
      "default": "<p>Jūsu teksts šeit.</p>"
    },
    {
      "type": "image_picker",
      "id": "photo",
      "label": "Foto"
    },
    {
      "type": "text",
      "id": "alt",
      "label": "Bildes alt teksts",
      "default": "Bildes alt teksts šeit"
    }
  ],
  "blocks": [
    {
      "type": "button",
      "name": "Poga",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "label": "Uzzināt vairāk",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Button link"
        },
        {
          "type": "select",
          "id": "style",
          "label": "Pogas veids",
          "options": [
            { "value": "white", "label": "Balta" },
            { "value": "brown", "label": "Brūna" }
          ],
          "default": "white"
        }
      ]
    }
  ],
  "max_blocks": 1,
  "presets": [
    {
      "name": "Teksts ar bildi",
      "blocks": [{ "type": "button", "settings": { "text": "Pakalpojumi", "url": "#", "style": "brown" } }]
    }
  ]
}
{% endschema %}
