<div class="container mx-auto transition-hide px-4 pb-12">
  <div class="w-full mx-auto text-center flex flex-col items-center space-y-12 md:space-y-24 bg-sp-light-brown px-8 py-12 rounded-4xl">
    {% render 'icon-quote' %}
    <div class="max-w-4xl md:text-2xl lg:text-3xl">
      {{ section.settings.quote_text }}
    </div>
    <h2 class="text-xl md:text-2xl lg:text-3xl">{{ section.settings.quote_signature }}</h2>
  </div>
</div>

{% schema %}
{
  "name": "Citāts",
  "settings": [
    {
      "type": "richtext",
      "id": "quote_text",
      "label": "Citāts",
      "default": "<p>Jūsu citāts šeit.</p>"
    },
    {
      "type": "text",
      "id": "quote_signature",
      "label": "Citāta autors",
      "default": "<p>Autors</p>"
    }
  ],
  "presets": [
    {
      "name": "Citāts"
    }
  ]
}
{% endschema %}
