<div class="transition-hide bg-sp-light-brown mb-12">
  <p>Atrodiet sev piemērotu pakalpojumu, izmantojot virtuālo konsultantu!</p>
  {% render 'btn-brown', text: 'Sākt virtuālo konsultāciju' %}
</div>
