<div class="transition-hide bg-sp-light-brown">
  <div class="container mx-auto flex px-4 mb-12 h-126 gap-x-24">
    <div class="w-4/7 flex flex-col justify-center h-full text-center md:text-left">
      <h2 class="pb-6 md:pb-12 text-center md:text-left">{{ section.settings.heading }}</h2>
      <div class="space-y-2">
        {{ section.settings.text }}
      </div>
    </div>

    <div class="w-3/7">
      {% if section.settings.photo %}
        <img
          src="{{ section.settings.photo | image_url }}"
          alt="{{ section.settings.alt | escape }}"
          width="1080"
          height="1920"
          loading="lazy"
          class="object-cover w-full h-126"
        >
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Teksts ar bildi",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Virsraksts",
      "default": "Virsraksts šeit"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Teksts",
      "default": "<p>Jūsu teksts šeit.</p>"
    },
    {
      "type": "image_picker",
      "id": "photo",
      "label": "Foto"
    },
    {
      "type": "text",
      "id": "alt",
      "label": "Bildes alt teksts",
      "default": "Bildes alt teksts šeit"
    }
  ],
  "presets": [{ "name": "Teksts ar bildi" }]
}
{% endschema %}
