<div class="transition-hide bg-(--color-brand-secondary) mb-12 py-12 ">
  <div class="container mx-auto px-4 text-center flex flex-col justify-center items-center">
    <p class="pb-6">{{ 'general.virtual_consultation.description' | t }}</p>
    {%- assign button_text = 'general.virtual_consultation.button' | t -%}
    {% render 'btn-brown', text: button_text %}
  </div>
</div>

{% schema %}
{
  "name": "Virtuālā konsutlācija",
  "settings": [],
  "presets": [
    {
      "name": "Virtuālā konsutlācija"
    }
  ]
}
{% endschema %}
