@import "tailwindcss";


@layer components {
    .sp-brown {
        color: #885642;
    }

    .hover\:sp-brown:hover {
        color: #885642 !important;
    }

    .fill-sp-brown {
        fill: #885642;
    }

    .hover\:fill-sp-brown:hover {
        fill: #885642 !important;
    }

    .sp-dark {
        color: #14160D;
    }

    .hover\:fill-sp-dark:hover {
        fill: #14160D !important;
    }

    .bg-sp-brown {
        background-color: #885642;
    }

    .bg-sp-light-brown {
        background-color: #E6DAC8;
    }

    .bg-sp-light-brown-opacity {
        background-color: #E6DAC84D;
    }

    .hover\:bg-sp-brown:hover {
        background-color: #885642 !important;
    }

    .bg-sp-brown-30 {
        background-color: rgb(136 86 66 / 0.3);
    }

    .text-2xs {
        font-size: 10px;
    }
}

@layer base {

    @font-face {
        font-family: "Belleza-Regular";
        src: url('https://cdn.shopify.com/s/files/1/0973/6998/1260/files/Belleza-Regular.ttf?v=1758653937')
    }

    @font-face {
        font-family: "Manrope-Light";
        src: url('https://cdn.shopify.com/s/files/1/0973/6998/1260/files/Manrope-Light.ttf?v=1758653989')
    }

    body {
        font-family: "Manrope-Light";
    }

    .header-font {
        font-family: "Manrope-Light";
    }

    .body-font {
        font-family: "Manrope-Light";
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Belleza-Regular";
        color: #14160D;
    }

    h1 {
        font-family: "Belleza-Regular";
        text-align: left;
        @apply uppercase text-3xl md:text-5xl lg:text-6xl
    }

    h1,
    h2,
    h3,
    h4 {
        text-transform: uppercase;
    }

    h2 {
        @apply text-3xl md:text-5xl;
    }

    body {
        @apply text-base md:text-lg;
    }

    .transition-hide {
        opacity: 0;
        filter: blur(3px);
        transform: translateY(200px);
        transition: all 1s ease;
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }

    @media screen and (min-width: 767px) {

        h2,
        h3,
        h4,
        h5,
        h6 {
            text-align: left;
        }
    }
}

.home-introduction {
    min-height: 100vh;
    min-height: -webkit-fill-available;
    min-height: 100svh;
}

#teamCarousel,
#servicesCarousel,
#categoryCarousel {
    --f-carousel-slide-width: calc((100%) / 1.5);
    --f-carousel-gap: 24px;
}

#teamCarousel .f-carousel__dot,
#servicesCarousel .f-carousel__dot,
#categoryCarousel .f-carousel__dot {
    color: #885642 !important;
}

.f-carousel__dot::after {
    padding: 8px;
}

#headerCarousel .f-carousel__dots {
    top: 90%;
    z-index: 4;
    color: #ffffff !important;
}


@media screen and (max-width: 479px) {
    .f-carousel__slide {
        opacity: .35;
        transition: opacity .3s ease;
    }

    .f-carousel__slide.is-in {
        opacity: 1;
    }

    .f-carousel__slide {
        opacity: .35;
        transition: opacity .3s ease;
    }

    .f-carousel__slide.is-selected {
        opacity: 1;
    }
}

@media screen and (min-width: 480px) {
    #teamCarousel {
        --f-carousel-slide-width: calc((100% - 32px) / 2);
    }

    #categoryCarousel {
        --f-carousel-slide-width: calc((100% - 32px) / 2);
    }
}

@media screen and (min-width: 640px) {
    #servicesCarousel {
        --f-carousel-slide-width: calc((100% - 64px) / 2);
    }

    #categoryCarousel {
        --f-carousel-slide-width: calc((100% - 64px) / 3);
    }
}

@media screen and (min-width: 767px) {
    #teamCarousel {
        --f-carousel-slide-width: calc((100% - 64px) / 3);
    }

    #servicesCarousel {
        --f-carousel-slide-width: calc((100% - 64px) / 2.5);
    }
}


@media screen and (min-width: 1024px) {
    #teamCarousel {
        --f-carousel-slide-width: calc((100% - 72px) / 4);
    }

    #categoryCarousel {
        --f-carousel-slide-width: calc((100% - 72px) / 4);
    }
}

@media screen and (min-width: 1280px) {
    #teamCarousel {
        --f-carousel-slide-width: calc((100% - 96px) / 5);
    }

    #categoryCarousel {
        --f-carousel-slide-width: calc((100% - 96px) / 5);
    }
}