@import "tailwindcss";


@layer components {
    .sp-brown {
        color: #885642;
    }

    .hover\:sp-brown:hover {
        color: #885642 !important;
    }

    .fill-sp-brown {
        fill: #885642;
    }

    .hover\:fill-sp-brown:hover {
        fill: #885642 !important;
    }

    .sp-dark {
        color: #14160D;
    }

    .bg-sp-brown {
        background-color: #885642;
    }

    .hover\:bg-sp-brown:hover {
        background-color: #885642 !important;
    }
}

@layer base {

    @font-face {
        font-family: "Belleza-Regular";
        src: url('https://cdn.shopify.com/s/files/1/0973/6998/1260/files/Belleza-Regular.ttf?v=1758653937')
    }

    @font-face {
        font-family: "Manrope-Light";
        src: url('https://cdn.shopify.com/s/files/1/0973/6998/1260/files/Manrope-Light.ttf?v=1758653989')
    }

    body {
        font-family: "Manrope-Light";
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Belleza-Regular";
        color: #14160D;
    }

    h1 {
        font-family: "Belleza-Regular";
        color: #fff;
    }

    h1,
    h2 {
        text-transform: uppercase;
    }

    h2 {
        @apply text-3xl md:text-5xl;
    }

    a {
        @apply text-base;
    }

    body {
        @apply text-base md:text-lg;
    }

    .transition-hide {
        opacity: 0;
        filter: blur(3px);
        transform: translateY(200px);
        transition: all 1s ease;
    }

    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}